<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <div *ngFor="let n of img_url; let i = index ">
    <div class="row" *ngIf="i % 3 == 0">
      <div class="col-sm-4 col-md-offset-1">
        {{i}}
        <img class="img-fluid" src="https://hiring.verkada.com/thumbs/{{n}}.jpg " alt="{{n}} " />
      </div>
    </div>
    <div *ngIf="i % 3 == 1">
      <div class="col-sm-4">
        {{i}}
        <img class="img-fluid" src="https://hiring.verkada.com/thumbs/{{n}}.jpg " alt="{{n}} " />
      </div>
    </div>
    <div *ngIf="i % 3 == 2">
      <div class="col-sm-4">
        {{i}}
        <img class="img-fluid" src="https://hiring.verkada.com/thumbs/{{n}}.jpg " alt="{{n}} " />
      </div>

    </div>
  </div>
</div>